<div class="footer">
  <div class="wrapper-brown">
    <div class="container footer-big-icons">
      <div class="row">
        <div class="col-xs-4">
          <div class="row">
            <div class="col-xs-6 col-sm-3">
              <i class="fa fa-youtube"></i>
            </div>
            <div class="col-xs-6 col-sm-3">
              <i class="fa fa-instagram"></i>
            </div>
            <div class="col-xs-6 col-sm-3">
              <i class="fa fa-facebook"></i>
            </div>
            <div class="col-xs-6 col-sm-3">
              <i class="fa fa-twitter"></i>
            </div>
          </div>
        </div>
        <div class="col-xs-offset-4 col-xs-4">
          <p>
            This is a Yelp @LeWagon.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
