// Your footer style

.wrapper-brown {
  background-color: #333333;
  color: #CCCCCC;
  padding: 40px 5px;
  /*margin-top: 100px;*/
}
.footer-big-icons {
  font-size: 30px;
}
.footer-big-icons ul {
  font-size: 20px;
}
.footer-big-icons li {
  margin: 10px;
}
.footer-big-icons li:first-child {
  margin: 0px;
}

.footer-big-icons p {
  font-size: 14px;
}
