<div class="container">
  <h1>Restaurants</h1>

  <% @restaurants.each do |restaurant| %>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
    </div>
    <div class="col-xs-12 col-sm-3">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      <%= restaurant.address %>
    </div>
    <div class="col-xs-12 col-sm-3">
      <i class="fa fa-phone" aria-hidden="true"></i>
      <%= restaurant.phone_number %>
    </div>
    <div class="col-xs-12 col-sm-3">
      <i class="fa fa-globe" aria-hidden="true"></i>
      <%= restaurant.category %>
    </div>
  </div>
  <hr>
  <% end %>
</div>



